{% load static %}
            <!-- begin:: Header Topbar -->
            <div class="kt-header__topbar kt-grid__item kt-grid__item--fluid">
                
                    <!--begin: Notifications -->  
                    <div class="kt-header__topbar-item dropdown">
                        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                            <span class="kt-header__topbar-icon kt-header__topbar-icon--success">
                                <i class="flaticon2-bell-alarm-symbol" id="notification-icon"></i>
                            </span>
                            <span id="notification-badge" class="kt-hidden kt-badge kt-badge--danger">0</span>
                        </div>
                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
                            <form>
                                <!--begin: Head -->
                                <div class="kt-head kt-head--skin-light kt-head--fit-x kt-head--fit-b">
                                    <h3 class="kt-head__title">
                                        User Notifications
                                        &nbsp;
                                        <span id="new-notifications-count" class="btn btn-label-primary btn-sm btn-bold btn-font-md">0 new</span>
                                    </h3>
                                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand kt-notification-item-padding-x" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active show" data-toggle="tab" href="#topbar_notifications_notifications" role="tab" aria-selected="true">Alerts</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#topbar_notifications_events" role="tab" aria-selected="false">Events</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#topbar_notifications_logs" role="tab" aria-selected="false">Logs</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end: Head -->
                                <div class="tab-content">
                                    <div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">
                                        <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200">
                                            {% for notification in notifications %}
                                            <a href="#" class="kt-notification__item" data-id="{{ notification.id }}" data-url="{{ notification.target_url }}" onclick="markAsChecked(event, {{ notification.id }}, '{{ notification.target_url }}')">
                                                <div class="kt-notification__item-icon">
                                                    <i class="flaticon2-bell-alarm-symbol kt-font-success"></i>
                                                </div>
                                                <div class="kt-notification__item-details">
                                                    <div class="kt-notification__item-title">
                                                        {{ notification.title }}
                                                    </div>
                                                    <div class="kt-notification__item-time">
                                                        {{ notification.timestamp|timesince }} ago
                                                    </div>
                                                </div>
                                            </a>
                                            {% empty %}
                                            <a href="#" class="kt-notification__item">
                                                <div class="kt-notification__item-details">
                                                    <div class="kt-notification__item-title">
                                                        No new notifications.
                                                    </div>
                                                </div>
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                                        <!-- Content for Events -->
                                    </div>
                                    <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
                                        <!-- Content for Logs -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                
    
                    <!--end: Notifications -->
    
                    <!--begin: Language bar -->
                    <div class="kt-header__topbar-item kt-header__topbar-item--langs">
                        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                            <span class="kt-header__topbar-icon kt-header__topbar-icon--info">
                                <img class="" src="{% static 'media/flags/260-united-kingdom.svg' %}" alt="" />
                            </span>
                        </div>
                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim">
                            <ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
                                <li class="kt-nav__item kt-nav__item--active">
                                    <a href="#" class="kt-nav__link">
                                        <span class="kt-nav__link-icon"><img
                                                src="{% static 'media/flags/226-united-states.svg' %}" alt="" /></span>
                                        <span class="kt-nav__link-text">English</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <span class="kt-nav__link-icon"><img src="{% static 'media/flags/128-spain.svg' %}"
                                                alt="" /></span>
                                        <span class="kt-nav__link-text">Spanish</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <span class="kt-nav__link-icon"><img
                                                src="{% static 'media/flags/162-germany.svg' %}" alt="" /></span>
                                        <span class="kt-nav__link-text">German</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <!--end: Language bar -->
    
                    <!--begin: User bar -->
                    <div class="kt-header__topbar-item kt-header__topbar-item--user">
                        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                            <span class="kt-hidden kt-header__topbar-welcome">Hi,</span>
                            <span class="kt-hidden kt-header__topbar-username">Nick</span>
                            <img class="kt-hidden-" alt="Pic" src="{% static 'media/users/300_21.jpg' %}" />
                            <span class="kt-header__topbar-icon kt-header__topbar-icon--brand kt-hidden"><b>S</b></span>
                        </div>
                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
    
                            <!--begin: Head -->
                            <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
                                <div class="kt-user-card__avatar">
                                    <img class="kt-hidden-" alt="Pic" src="{% static 'media/users/300_25.jpg' %}" />
    
                                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                    <span
                                        class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden">S</span>
                                </div>
                                <div class="kt-user-card__name">
                                    {{ user.username }}
                                </div>
                                 <div class="kt-user-card__badge ">
                                    <span class="btn btn-label-primary btn-sm btn-bold btn-font-md ">You have {{ unread_messages_count }}
                                        unread messages</span>
                                </div> 
                                {% comment %} <div class="alert alert-info">
                                    <strong>Notification:</strong> You have {{ unread_messages_count }} unread messages.
                                </div>  {% endcomment %}
                            </div>
    
                            <!--end: Head -->
    
                            <!--begin: Navigation -->
                          <!--begin: Navigation -->
                        <div class="list-group">
                            {% comment %} <a href="{% url 'profile' %}" class="list-group-item list-group-item-action d-flex align-items-center"> {% endcomment %}
                                <a href="{% url 'accounts:profile' %}" class="list-group-item list-group-item-action d-flex align-items-center"> 
                                <div class="me-3">
                                    <i class="bi bi-calendar3 text-success"></i> <!-- Bootstrap Icon for calendar -->
                                </div>
                                <div>
                                    <h6 class="mb-0 fw-bold">My Profile</h6>
                                    <small>Account settings and more</small>
                                </div>
                            </a>
                            <a href="{% url 'chat:superuser_dashboard' %}" class="list-group-item list-group-item-action d-flex align-items-center">
                                <div class="me-3">
                                    <i class="bi bi-envelope-fill text-warning"></i> <!-- Bootstrap Icon for mail -->
                                </div>
                                <div>
                                    <h6 class="mb-0 fw-bold">My Messages</h6>
                                    <small>Inbox and tasks</small>
                                </div>
                            </a>
                            {% comment %} <a href="{% url '' %}" class="list-group-item list-group-item-action d-flex align-items-center">
                                <div class="me-3">
                                    <i class="bi bi-rocket text-danger"></i> <!-- Bootstrap Icon for rocket -->
                                </div>
                                <div>
                                    <h6 class="mb-0 fw-bold">My Activities</h6>
                                    <small>Logs and notifications</small>
                                </div>
                            </a> {% endcomment %}
                            <a href="{% url 'order:tasks' %}" class="list-group-item list-group-item-action d-flex align-items-center">
                                <div class="me-3">
                                    <i class="bi bi-hourglass-split text-primary"></i> <!-- Bootstrap Icon for hourglass -->
                                </div>
                                <div>
                                    <h6 class="mb-0 fw-bold">My Tasks</h6>
                                    <small>Latest tasks and projects</small>
                                </div>
                            </a>
                            <a href="{% url 'order:pending_orders' %}" class="list-group-item list-group-item-action d-flex align-items-center">
                                <div class="me-3">
                                    <i class="bi bi-heart-pulse text-warning"></i> <!-- Bootstrap Icon for cardiogram -->
                                </div>
                                <div>
                                    <h6 class="mb-0 fw-bold">Check Billing Payment</h6>
                                    <small>Billing & statements {{ pending_count }}</small>
                                    {% comment %}<span class="badge bg-danger rounded-pill">{{ pending_count }} pending</span>{% endcomment %}
                                </div>
                            </a>
                            <div class="d-flex justify-content-between p-3">
                                <a href="{% url 'logout' %}" class="btn btn-outline-primary btn-sm fw-bold">Sign Out</a>
                            </div>
                        </div>

    
                            <!--end: Navigation -->
                        </div>
                    </div>
    
                    <!--end: User bar -->
        </div>
   
        <!-- end:: Header Topbar -->