{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load get_status %}
{% load get_dict_value %}
{% load static %}
{% block content %}
<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    {% block add-order-button %}
    {% include 'add-order-button.html' %}
    {% endblock %}
    <!--Begin::App-->
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app" style="padding-top: 1% !important;">

        <!--Begin:: App Aside Mobile Toggle-->
        <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
            <i class="la la-close"></i>
        </button>

        <!--End:: App Aside Mobile Toggle-->

        <!--Begin:: App Aside-->
        <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">

            <!--Begin::Portlet-->
            <div class="kt-portlet kt-portlet--height-fluid-">
                <div class="kt-portlet__head kt-portlet__head--noborder">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
                            <i class="flaticon-more-1"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="kt-nav">
                                <li class="kt-nav__item">
                                    <a href="{% url 'client:client_update' client.id %}" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-pen"></i>
                                        <span class="kt-nav__link-text">Edit</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">

                    <!--begin::Widget -->
                    <div class="kt-widget kt-widget--user-profile-2">
                        <div class="kt-widget__head">
                            <div class="kt-widget__info" style="padding-left: 0em !important;">
                                <a class="kt-widget__username">
                                    {{ client.name }}
                                </a>
                            </div>
                        </div>
                        </br>
                        <div class="kt-widget__body">
                            <div class="kt-widget__item">
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Email:</span>
                                    <a class="kt-widget__data">{{ client.email }}</a>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Phone:</span>
                                    <a class="kt-widget__data">{{ client.phone_number }}</a>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Gemder:</span>
                                    <a class="kt-widget__data">{{ client.gender }}</a>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Age:</span>
                                    <a class="kt-widget__data">{{ client.age }}</a>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Address:</span>
                                    <span class="kt-widget__data">{{ client.address }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="kt-widget__footer">
                            <a href="{% url 'order:order_add' client.id %}"
                                class="btn btn-label-success btn-lg btn-upper">Add Order</a>
                        </div>
                    </div>

                    <!--end::Widget -->

                </div>
            </div>

            <!--End::Portlet-->

        </div>

        <!--End:: App Aside-->

        <!--Begin:: App Content-->
        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
            <div class="row">
                <div class="col">
                    <!--Begin::Section-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__body kt-portlet__body--fit">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Measurements
                                    </h3>
                                </div>
                            </div>
                            <div class="row row-no-padding row-col-separator-xl">
                                {% if measurements_exist %}
                                <div class="col-md-12 col-lg-12 col-xl-4">
                                    <!--begin:: Widgets/Stats2-1 -->
                                    <div class="kt-widget1">
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Shoulder</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{ measurements.shoulder }}
                                                {{ measurements.unit }}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Armscye</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{ measurements.armscye }}
                                                {{ measurements.unit }}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Chest</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{ measurements.chest }}
                                                {{ measurements.unit }}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Bust</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{ measurements.bust }}
                                                {{ measurements.unit }}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Bust</h3>
                                            </div>
                                            <span
                                                class="kt-widget1__number kt-font-brand">{{ measurements.waist_to_knee }}
                                                {{ measurements.unit }}</span>
                                        </div>
                                    </div>

                                    <!--end:: Widgets/Stats2-1 -->
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-4">

                                    <!--begin:: Widgets/Stats2-2 -->
                                    <div class="kt-widget1">
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Waist</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{ measurements.waist }}
                                                {{ measurements.unit }}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Arm Length</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{ measurements.arm_length }}
                                                {{ measurements.unit }}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Hips</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{ measurements.hips }}
                                                {{ measurements.unit }}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Ankle</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{ measurements.ankle }}
                                                {{ measurements.unit }}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Knee line</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{ measurements.knee_line }}
                                                {{ measurements.unit }}</span>
                                        </div>
                                    </div>

                                    <!--end:: Widgets/Stats2-2 -->
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-4">

                                    <!--begin:: Widgets/Stats2-3 -->
                                    <div class="kt-widget1">
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Neck</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{ measurements.neck }}
                                                {{ measurements.unit }}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Back width</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{ measurements.back_width }}
                                                {{ measurements.unit }}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Inseam</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{ measurements.inseam }}
                                                {{ measurements.unit }}</span>
                                        </div>
                                        <div class="kt-widget1__item">
                                            <div class="kt-widget1__info">
                                                <h3 class="kt-widget1__title">Wrist</h3>
                                            </div>
                                            <span class="kt-widget1__number kt-font-brand">{{ measurements.wrist }}
                                                {{ measurements.unit }}</span>
                                        </div>
                                    </div>
                                    <!--end:: Widgets/Stats2-3 -->
                                </div>
                                {% else %}
                                <p class="h5 text-primary text-center" style="margin-left: 3% !important;">You haven't
                                    added measurements against this client yet, <a
                                        href="{% url 'client:measurment_add' client.id %}">add now?</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <!--End::Section-->
                </div>
            </div>


            <div class="row">
                <div class="col-xl-12">

                    <!--begin:: Widgets/Finance Summary-->
                    <div class="kt-portlet kt-portlet--height-fluid">
                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title">
                                    Orders
                                </h3>
                            </div>
                        </div>
                        {% if orders %}
                        {% for order in orders %}
                        <div class="kt-portlet__body">
                            <div class="kt-widget12">
                                <div class="kt-portlet__head-toolbar" style="margin-left: 90% !important;">
                                    <a href="#" class="btn btn-label-brand btn-sm  btn-bold dropdown-toggle"
                                        data-toggle="dropdown">
                                        More
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-md">

                                        <!--begin::Nav-->
                                        <ul class="kt-nav">
                                            <li class="kt-nav__head">
                                                Order Options
                                            </li>
                                            <li class="kt-nav__separator"></li>
                                            <li class="kt-nav__item">
                                                <a href="{% url 'order:order_detail' order.id %}" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-expand"></i>
                                                    <span class="kt-nav__link-text">Details</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="{% url 'order:order_update' order.id %}" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-pen"></i>
                                                    <span class="kt-nav__link-text">Update</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="{% url 'order:task_add' order.id %}" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-plus"></i>
                                                    <span class="kt-nav__link-text">Add Task</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <!--end::Nav-->
                                    </div>
                                </div>
                                <div class="kt-widget12__content">
                                    <div class="kt-widget12__item">
                                        <div class="kt-widget12__info">
                                            <span class="kt-widget12__desc">Order#</span>
                                            <a href="{% url 'order:order_detail' order.id %}"><span
                                                    class="kt-widget12__value">{{ order.id }}</span></a>
                                        </div>
                                        <div class="kt-widget12__info">
                                            <span class="kt-widget12__desc">Order Status</span>
                                            <span
                                                class="kt-widget12__value">{% get_status "ORDER" order.status %}</span>
                                        </div>
                                    </div>
                                    <div class="kt-widget12__item">
                                        <div class="kt-widget12__info">
                                            <span class="kt-widget12__desc">Payment Amount</span>
                                            <span class="kt-widget12__value">Rs {{ order.payment_amount }}</span>
                                        </div>
                                        <div class="kt-widget12__info">
                                            <span class="kt-widget12__desc">Order</span>
                                            <span class="kt-widget12__value">{{ order.order }}</span>
                                        </div>
                                    </div>
                                    <div class="kt-widget12__item">
                                        <div class="kt-widget12__info">
                                            <span class="kt-widget12__desc">Date Recieved</span>
                                            <span class="kt-widget12__value">{{ order.date_recieved }}</span>
                                        </div>
                                        {% get_dict_value tasks_against_orders order.id as status_tuple %}
                                        <div class="kt-widget12__info">
                                            <span class="kt-widget12__desc">Completion Status
                                                {% if status_tuple.0 != 0 %}({{ status_tuple.1 }}/{{ status_tuple.0}}
                                                Remaining){% endif %}</span>
                                            {% if status_tuple.0 == 0 %}
                                            No tasks created against this order yet. <a
                                                href="{% url 'order:task_add' order.id %}">Create one?</a>
                                            {% else %}
                                            <span class="kt-widget12__progress">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar kt-bg-brand" role="progressbar"
                                                        style="width: {{ status_tuple.2 }}%"
                                                        aria-valuenow="{{ status_tuple.1 }}" aria-valuemin="0"
                                                        aria-valuemax="{{ status_tuple.0 }}"></div>
                                                </div>
                                                <span class="kt-widget12__stat">
                                                    {{ status_tuple.2 }}%
                                                </span>
                                            </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p class="h5 text-primary text-center" style="margin-right: 37% !important;">You haven't added
                            any
                            orders against this client yet, <a href="{% url 'order:order_add' client.id %}">add now?</a>
                        </p>
                        {% endif %}
                    </div>

                    <!--end:: Widgets/Finance Summary-->
                </div>
            </div>
        </div>


        <!--End:: App Content-->
    </div>
</div>

<!-- end:: Content -->
{% endblock %}

{% block page-scripts %}
<script src="{% static 'js/pages/crud/metronic-datatable/base/html-table.js' %}" type="text/javascript"></script>
{% endblock %}