{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- begin:: Content -->

<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet">
        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-grid  kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2" data-ktwizard-state="step-first">
                <div class="kt-grid__item kt-wizard-v2__aside">

                    <!--begin: Form Wizard Nav -->
                    <div class="kt-wizard-v2__nav">
                        <div class="kt-wizard-v2__nav-items kt-wizard-v2__nav-items--clickable">

                            <!--doc: Replace A tag with SPAN tag to disable the step link click -->
                            <div class="kt-wizard-v2__nav-item" data-ktwizard-type="step">
                                <div class="kt-wizard-v2__nav-body">
                                    <div class="kt-wizard-v2__nav-icon">
                                        <i class="flaticon-plus"></i>
                                    </div>
                                    <div class="kt-wizard-v2__nav-label">
                                        <div class="kt-wizard-v2__nav-label-title">
                                            Product Information
                                        </div>
                                        <div class="kt-wizard-v2__nav-label-desc">
                                            Add Product Details
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="current">
                                <div class="kt-wizard-v2__nav-body">
                                    <div class="kt-wizard-v2__nav-icon">
                                        <i class="flaticon2-image-file"></i>
                                    </div>
                                    <div class="kt-wizard-v2__nav-label">
                                        <div class="kt-wizard-v2__nav-label-title">
                                            Product Images
                                        </div>
                                        <div class="kt-wizard-v2__nav-label-desc">
                                            Add images for your product.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--end: Form Wizard Nav -->
                </div>
                <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">

                    <!--begin: Form Wizard Form-->
                    <form class="kt-form"
                        {% if func == "Add" %}action="{% url 'product:product_images_add' product.id %}"
                        {% else %}action="{% url 'product:product_images_update' product.id %}" {% endif %}
                        method="post" enctype="multipart/form-data">
                        <!--begin: Form Wizard Step 1-->
                        <div class="kt-wizard-v2__content" data-ktwizard-type="step-content"
                            data-ktwizard-state="current"
                            style="padding-bottom:0em !important; margin-bottom:0em !important; border-bottom:0px !important;">
                            <div class="kt-heading kt-heading--md">Enter Product Details</div>
                            <div class="kt-form__section kt-form__section--first">
                                <div class="kt-wizard-v2__form">
                                    {% csrf_token %}
                                    <div id="div_id_image1" class="form-group"> <label for="id_image1"
                                            class=" requiredField">
                                            Image1<span class="asteriskField">*</span> </label>
                                        <div class="custom-file ">
                                            <input type="file" name="image1" accept="image/*"
                                                class="clearablefileinput form-control custom-file-input"
                                                id="id_image1"> <label class="custom-file-label" for="id_image1">Choose
                                                file</label> </div>
                                    </div>
                                    <div id="div_id_image2" class="form-group"> <label for="id_image2" class="">
                                            Image2
                                        </label>
                                        <div class="custom-file ">
                                            <input type="file" name="image2" accept="image/*"
                                                class="clearablefileinput form-control custom-file-input"
                                                id="id_image2"> <label class="custom-file-label" for="id_image2">Choose
                                                file</label> </div>
                                    </div>
                                    <div id="div_id_image3" class="form-group"> <label for="id_image3" class="">
                                            Image3
                                        </label>
                                        <div class="custom-file ">
                                            <input type="file" name="image3" accept="image/*"
                                                class="clearablefileinput form-control custom-file-input"
                                                id="id_image3"> <label class="custom-file-label" for="id_image3">Choose
                                                file</label> </div>
                                    </div>
                                    <div id="div_id_image4" class="form-group"> <label for="id_image4" class="">
                                            Image4
                                        </label>
                                        <div class="custom-file "> <input type="file" name="image4" accept="image/*"
                                                class="clearablefileinput form-control custom-file-input"
                                                id="id_image4"> <label class="custom-file-label" for="id_image4">Choose
                                                file</label> </div>
                                    </div>
                                    <div id="div_id_image5" class="form-group"> <label for="id_image5" class="">
                                            Image5
                                        </label>
                                        <div class="custom-file "> <input type="file" name="image5" accept="image/*"
                                                class="clearablefileinput form-control custom-file-input"
                                                id="id_image5"> <label class="custom-file-label" for="id_image5">Choose
                                                file</label> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 1-->

                        <!--begin: Form Actions -->

                        <div class="kt-form__actions float-right">
                            <a href="{% url 'product:products' %}" class="btn btn-default">Skip</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                        <!--end: Form Actions -->
                    </form>

                    <!--end: Form Wizard Form-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end:: Content -->
{% endblock %}