{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block content %}
<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">

    <!--begin::Portlet-->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Add Details
                </h3>
            </div>
        </div>

        <!--begin::Form-->
        {% if func == "Add" %}
        <form class="kt-form kt-portlet__body" action="{% url 'product:product_add' %}" method="post">
        {% else %}
        <form class="kt-form kt-portlet__body" action="{% url 'product:product_update' product.id %}" method="post">
        {% endif %}    
            {% csrf_token %}
            {{ form|crispy }}
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>

    <!--end::Portlet-->
</div>

<!-- end:: Content -->
{% endblock %}